/node_modules

# Dependencias de Node (si usas un package.json)
# node_modules/

# Archivos de log de npm/yarn
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Salida de Tailwind
# output.css
# Si lo prefieres, puedes versionar output.css y entonces eliminar esta línea


# Archivos de sistema macOS
.DS_Store

# Configuraciones de editores / IDE
.vscode/
.idea/


# Archivos de build (si llegas a generar carpeta dist/)
dist/
/command.txt
